In [2]:
try:
    import pandas as pd
    print('pandas already installed, only imported')
except:
    !pip install pandas
    import pandas as pd
    print('pandas was not installed, installed and imported')

pandas already installed, only imported

In [3]:
dataFrame1 = pd.read_csv("ratings.data", sep ="\t", skipinitialspace=True)
dataFrame1.columns = ['user_id', 'movie_id','rating', 'time_stamp']

dataFrame1.head()

   user_id  movie_id  rating  time_stamp
0      186       302       3   891717742
1       22       377       1   878887116
2      244        51       2   880606923
3      166       346       1   886397596
4      298       474       4   884182806

In [4]:
dataFrame2 = pd.read_csv("item.item", sep ="|", skipinitialspace=True, encoding='latin-1')
dataFrame2.columns = ['movie_id','title', 'release_date','video_release_date',
              'IMDb URL', 'unknown' , 'Action' , 'Adventure' , 'Animation' ,
              'Children', 'Comedy' , 'Crime' ,'Documentary' , 'Drama' , 'Fantasy' ,
              'Film_Noir' , 'Horror' , 'Musical' , 'Mystery' , 'Romance' , 'Sci_Fi' ,
              'Thriller' , 'War' , 'Western' ]

dataFrame2.head()

,movie_id,title,release_date,video_release_date,IMDb URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci_Fi,Thriller,War,Western
0,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-1995,NaN,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
dataFrame3 = pd.merge(dataFrame1,dataFrame2, on='movie_id', how='inner') 
output = dataFrame3[['user_id','movie_id', 'title', 'rating','unknown' , 'Action' , 'Adventure' , 'Animation' ,
              'Children', 'Comedy' , 'Crime' ,'Documentary' , 'Drama' , 'Fantasy' ,
              'Film_Noir' , 'Horror' , 'Musical' , 'Mystery' , 'Romance' , 'Sci_Fi' ,
              'Thriller' , 'War' , 'Western']]

output.to_csv(r'C:\Users\munat\Desktop\MapReduce\movies.csv', sep='\t', header=False, index=None)